{% extends 'base.html.twig' %}

{% block container %}


    <!--// Main Content \\-->
    <div class="environment-main-content">


        <!--// Main Section \\-->
        <div class="environment-main-section environment-donate-sectionfull">
            <span class="donate-transparent"></span>
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="environment-section-text">

                            <h2>Des Petits Efforts Font Des Grands  </h2>
                            <h2 style="text-align: center">Changements </h2>


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="environment-donate-form">
                            <h2>Gerer <span>Membre</span></h2>
                            {{ form_start(form) }}
                            {{form_widget(form)}}
                            <form>
                                <ul><br>
                                    <li class="environment-select-form">

                                        {{ form(form) }}<br></li>
                                    <li><input class="btn btn-success" type="submit" value="Enregistrer" /></li>

                                </ul>
                            </form>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <!--// Main Content \\-->

{% endblock %}