<div class="charts-grids widget">
    <h4 class="title">Statistiques</h4>
    <div id="div_barchart"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(barchart,'div_barchart') }}
    </script>

</div>
</div>